/* Imports 8-bit font */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-wrap: wrap;
}

#canvasDiv {
    position: relative;
    float: left;
    width: 896;
    height: 512;
}

#game {
    position: absolute;
    z-index: 1;
}

#gameOverOverlay {
    position: absolute;
    background-color: rgba(132, 132, 132, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
}

#scoreLabel {
    padding: 5px;
    margin: 10px 0 0 10px;
    width: auto;
    height: 20px;
    font-size: 20px;
    box-shadow: 5px 5px black;
    background-color: darkorchid;
    z-index: 4;
}

button {
    position: absolute;
    color: black;
    background-color: green;
    border-color: black;
    box-shadow: 5px 5px black;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

p {
    position: absolute;
    color: red;
    text-shadow: 5px 5px black;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke: 3px black;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.hidden {
    visibility: hidden;
    z-index: 0;
}